[SddmGreeterTheme]
Name=Simpler Breeze
Name[ar]=نسيم
Name[bs]=Simpler Breeze
Name[ca]=Brisa
Name[ca@valencia]=Brisa
Name[cs]=Simpler Breeze
Name[da]=Simpler Breeze
Name[de]=Simpler Breeze
Name[el]=Simpler Breeze
Name[en_GB]=Simpler Breeze
Name[es]=Brisa
Name[et]=Simpler Breeze
Name[eu]=Simpler Breeze
Name[fi]=Simpler Breeze
Name[fr]=Simpler Breeze
Name[gl]=Simpler Breeze
Name[hu]=Simpler Breeze
Name[id]=Simpler Breeze
Name[is]=Simpler Breeze
Name[it]=Brezza
Name[ja]=Simpler Breeze
Name[ko]=Simpler Breeze
Name[lt]=Simpler Breeze
Name[nb]=Simpler Breeze
Name[nds]=Simpler Breeze
Name[nl]=Simpler Breeze
Name[nn]=Simpler Breeze
Name[pa]=ਬਰੀਜ਼
Name[pl]=Bryza
Name[pt]=Brisa
Name[pt_BR]=Simpler Breeze
Name[ru]=Simpler Breeze
Name[sk]=Vánok
Name[sl]=Sapica
Name[sr]=Поветарац
Name[sr@ijekavian]=Поветарац
Name[sr@ijekavianlatin]=Povetarac
Name[sr@latin]=Povetarac
Name[sv]=Simpler Breeze
Name[tr]=Simpler Breeze
Name[uk]=Simpler Breeze
Name[x-test]=xxSimpler Breezexx
Name[zh_CN]=微风
Name[zh_TW]=微風
Description=Simpler Breeze
Description[ca]=Brisa
Description[ca@valencia]=Brisa
Description[cs]=Simpler Breeze
Description[da]=Simpler Breeze
Description[de]=Simpler Breeze
Description[en_GB]=Simpler Breeze
Description[es]=Brisa
Description[eu]=Simpler Breeze
Description[fi]=Simpler Breeze
Description[fr]=Simpler Breeze
Description[gl]=Simpler Breeze
Description[id]=Simpler Breeze
Description[it]=Brezza
Description[ko]=Simpler Breeze
Description[nl]=Simpler Breeze
Description[nn]=Simpler Breeze
Description[pl]=Bryza
Description[pt]=Brisa
Description[pt_BR]=Simpler Breeze
Description[ru]=Simpler Breeze
Description[sk]=Vánok
Description[sv]=Simpler Breeze
Description[uk]=Simpler Breeze
Description[x-test]=xxSimpler Breezexx
Description[zh_CN]=微风
Description[zh_TW]=Simpler Breeze
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson; © 2019, Thaddée Tyl
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/espadrine/simpler-breeze
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=thaddeetyl+kde@gmail.com
Theme-Id=simpler-breeze
Theme-API=2.0
